@{
    ViewBag.Title = "Home Page";
}

<div id="tagsList" class="box">
    <div class="box-head">
        <h2 class="left">Tags</h2>
    </div>

    <div class="box-content">
        <input type="text" placeholder="Add new Tag" data-bind="value: tagToAdd, valueUpdate: 'afterkeydown'" />
        <button data-bind="click: addTag">+ Add</button>

        @*<div data-bind="template: 'tagsTempl'"></div>*@
        <ul data-bind="foreach: tags">
            <li class="tagItem">
                <span data-bind="text: Name"></span>
                <div>
                    <a href="#" class="tag-edit">Edit</a>
                    <a href="#" class="tag-delete">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</div>

@*<script id="tagsTempl" type="text/html">
    {{each tags}}
    

    {{/each}}
</script>*@
<script src="~/Scripts/bp-index.js"></script>
@*<script src="@Url.Content("~/Scripts/bp-index.js")" type="text/javascript"></script>*@